body {
  background-color: powderblue;
  font-family: verdana;
  font-size: 200%;
  border: 7px solid palevioletred;
  padding: 40px;
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 100%;
  padding: 40px;
  margin: 80px;
}
.container {
    text-align: center;
}
.button {
  color: black;
  font-family: verdana;
  font-size: 50%;
  padding: 20px;
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
    padding: 12px 25px;
    margin: 10px;

    font-size: 18px;
    border: none;
    border-radius: 30px;

    cursor: pointer;

    transition: all 0.3s ease;
}
#yes {
    background-color: #ff4d88;
    color: white;
}

#yes:hover {
    transform: scale(1.1);
}

#no {
    background-color: #cccccc;
    color: black;

    position: absolute; /* IMPORTANT for movement later */
}